body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

/*div styles*/
.common{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: aliceblue;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px;

}
.middle{
    top: 100px;
    left: 0px;
    right: 0px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    background-color: aliceblue;
    font-style: italic;
    font-weight: bold;
    color: black;
}
.imgcenter{
    display: block;
    margin: auto;
    border: 5px solid whitesmoke
}
